# Pandas 
Tiene 2 onjetos indsipensables que se llaman DataFrame y Series

# DataFrame 
La manera mas sencilla de verlo es como si fuera nuestra tabla de excel, 
solo que pandas tiene la capacidad de recibir mayores datos

In [1]:
import pandas as pd

In [2]:
# Para crear un DataFrame se crea como un diccionario
# Vamos a neccesita su clave y su valor
# La clave sera el nombre de nuestra columna, y por defecto las filas iran del 0 al numero de valores que tengamos
pd.DataFrame({'Hombres':[5,6], 'Mujeres':[10,8]})

   Hombres  Mujeres
0        5       10
1        6        8

Y tambien puede recibir datos de todo tipo, solo que hay tener encuenta
que si ponemos un numero en un string automaticamente nuestro entero sera 
convertido a string ya que tiene mayor capacidad un string que un entero

Hay veces en las que necesitamos que nuestras filas tengan algun nombre para identificarlas y eso lo haremos con Index de la siguiente manera

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

# Series

Las series es una secuencia de valores, si el DataFrame es una tabla, una serie va ser una lista y se crean de la siguiente manera

In [4]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Como vemos son muy parecidas a las tablas, tienen sus filas que las diferencian,
pero si queremos poner nombres a las filas lo hacemos de la siguiente manera

In [5]:
pd.Series([30, 35, 40], index=['2015 Ventas', '2016 Ventas', '2017 Ventas'], name='Product A')

2015 Ventas    30
2016 Ventas    35
2017 Ventas    40
Name: Product A, dtype: int64

In [6]:
fruits = pd.DataFrame({'Apples':[30],'Bananas':[21]})
fruits

   Apples  Bananas
0      30       21

In [7]:
fruit_sales = pd.DataFrame({'Apples':[35,41],'Bananas':[21,34]}, index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [8]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk','Eggs','Spam'])
ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object